body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    font-family: Arial;
}

#myCanvas{
    background-color: #2a5;
}

button, .file-input-label{
    display: inline-block;
    background-color: white;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
}

.danger{
    background-color: red;
    color: white;
}

.success{
    background-color: green;
    color: white;
}

.disabled {
    background-color: gray;
    filter: grayscale(100%);
}

.primary{
    background-color: #0d6efd;
    color: white;
}

#graphBtn{
    margin-left: 10px;

}

input[type="file"]{
    display: none;
}